  <app-menu-toggle></app-menu-toggle>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <app-cabecalho></app-cabecalho>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a (click)="scrollToSection('home')" class="nav-link scrollto" [class.active]="activeSection === 'home'" ><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a (click)="scrollToSection('about')" class="nav-link scrollto" [class.active]="activeSection === 'about'"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
          <li><a (click)="scrollToSection('resume')" class="nav-link scrollto" [class.active]="activeSection === 'resume'"><i class="bx bx-file-blank"></i> <span>Experiencia profissional</span></a></li>
          <li><a (click)="scrollToSection('portfolio')" class="nav-link scrollto" [class.active]="activeSection === 'portfolio'"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a (click)="scrollToSection('services')" class="nav-link scrollto" [class.active]="activeSection === 'services'"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a (click)="scrollToSection('contact')" class="nav-link scrollto" [class.active]="activeSection === 'contact'"><i class="bx bx-envelope"></i> <span>Contatos</span></a></li>
        </ul>

      </nav>
    </div>
  </header>

  <main id="main">
    <!-- <app-menu-lateral></app-menu-lateral> -->
    <app-hero></app-hero>
    <app-about></app-about>
    <app-facts></app-facts>
    <app-skills></app-skills>
    <app-resume></app-resume>
    <app-portfolio></app-portfolio>
    <app-services></app-services>
    <app-testimonials></app-testimonials>
    <app-contact></app-contact>
    <a (click)="scrollToSection('home')" class="back-to-top d-flex align-items-center justify-content-center" [class.active]="activeSection !== 'home'"><i class="bi bi-arrow-up-short"></i></a>

  </main><!-- End #main -->
  <app-footer></app-footer>


